body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
  }
  
.hero-content {

}

.header {
    
}


.body {
    flex: 1;
    display: flex;
}


.footer {
    height: 72px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
}   